<!-- Angular js directive -->
<div class="carousel">
    <div class="arrow prev" ng-click="vm.switchSlide('left')">&#10096;</div>
    <div class="wrapper">
        <ul class="slides transitioned"
            ng-swipe-left="vm.switchSlide('right')"
            ng-swipe-right="vm.switchSlide('left')">
            <li class="slide"
                ng-class="{'marker': $last}"
                ng-repeat="slide in vm.slides track by $index">
                <img draggable="false" ng-src="{{slide}}"></li>
        </ul>
    </div>
    <div class="arrow next" ng-click="vm.switchSlide('right')">&#10095;</div>
</div>
