.carousel{
    display: flex;
    background-color: #eeeeee;
    padding: 1% 1%;
    justify-content: space-between;
}
.carousel .wrapper{
    overflow: hidden;
}
.carousel .slides{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -33.333%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    transform: translateX(33.3333%);
}
.carousel .reversed{
    transform: translateX(-33.33%);
}
.carousel .transitioned{
    transform: none;
    transition: transform 0.2s  ease-in-out;
}
.carousel .slide {
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 1%;
    flex-basis: 33.33%;
    order: 2;
}
.carousel .marker{
    order: 1;
}
.carousel .slide img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.carousel .arrow{
    font-size: 50px;
    align-self: center;
}
.carousel .arrow:hover{
    cursor: pointer;
}
